<div class="container">

    <div class="suc">
        <h1 style="color: rgb(44, 44, 44);"> Sucursal 1</h1>
        <a style="color: rgb(44, 44, 44);"
            href="https://www.google.cl/maps/place/1+Nte.+525,+Vi%C3%B1a+del+Mar,+Valpara%C3%ADso/@-33.0222098,-71.5547671,17.75z/data=!4m5!3m4!1s0x9689dde19b90494d:0x7633ff1658138915!8m2!3d-33.0220639!4d-71.5537354?hl=es&authuser=0">
            <h2> 1 Norte 525 Departamento 408 Edificio Puente Quinta</h2>
        </a>
    </div>
    
    <div class="suc">
        <h1 style="color: rgb(44, 44, 44);"> Sucursal 2</h1>
        <a style="color: rgb(44, 44, 44);"
            href="https://www.google.cl/maps/place/1+Nte.+525,+Vi%C3%B1a+del+Mar,+Valpara%C3%ADso/@-33.0222098,-71.5547671,17.75z/data=!4m5!3m4!1s0x9689dde19b90494d:0x7633ff1658138915!8m2!3d-33.0220639!4d-71.5537354?hl=es&authuser=0">
            <h2> 1 Norte 525 Departamento 408 Edificio Puente Quinta</h2>
        </a>
    </div>

    <div class="suc">
        <h1 style="color: rgb(44, 44, 44);"> Sucursal 3</h1>
        <a style="color: rgb(44, 44, 44);"
            href="https://www.google.cl/maps/place/1+Nte.+525,+Vi%C3%B1a+del+Mar,+Valpara%C3%ADso/@-33.0222098,-71.5547671,17.75z/data=!4m5!3m4!1s0x9689dde19b90494d:0x7633ff1658138915!8m2!3d-33.0220639!4d-71.5537354?hl=es&authuser=0">
            <h2> 1 Norte 525 Departamento 408 Edificio Puente Quinta</h2>
        </a>
    </div>

</div>