<div class="container" >
    
    <div class="suc" *ngFor="let tienda of tiendas" >
        <h1> Sucursal {{tienda.id}} - {{tienda.lugar}}</h1>
        <a target="_blank"
            [href]="tienda.linkDireccion">
            <h2>{{tienda.direccion}}</h2>
        </a>
        <h2>Whatsapp: <br><a target="_blank" [href]="tienda.linkWhatsApp">Fono:{{tienda.WhatsApp}}</a></h2>

    </div>
  

    <div class="horario">
        <h1>Horario de Atención continuado:</h1>
        <h2>Lunes a Jueves de 09:00 a 19:00 hrs</h2>
        <h2>Viernes de 09:00 a 18:00 hrs</h2>
    </div>

</div>