@import "styles/colors";

.suc {
    padding: 10px;
    margin: 10px;
}
h2 {
    max-width: 550px;
    background-color: $primary;
}

.horario {
    margin-left: 20px;
    max-width: 450px;
    padding: 10px;
    color: black;
    border: 1px black solid;
}
