<mat-tab-group>
    <mat-tab label="Mis Datos">
        <div class="container">
            <h1 class="titulo">Mis Datos</h1>

            <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">


                <label class="nombre">Nombre Completo</label>
                <input AutoFocusInput class="input1" type="text" required formControlName="nombre">

                <label class="rut">Rut</label>
                <input class="input2" type="text" required formControlName="rut">

                <label class="direccion">Direccion</label>
                <input class="input3" type="text" required formControlName="direccion">

                <label class="telefono">Teléfono</label>
                <input class="input4" type="text" required formControlName="telefono" placeholder="Ej: +56 9 9999 9999">


                <label class="email">E-mail</label>
                <label class="input5" type="email">{{pEmail}}</label>


                <button class="actualizar app-button">Actualizar</button>


            </form>



        </div>
    </mat-tab>


    <mat-tab label="Mis Compras">
        <app-compras></app-compras>
    </mat-tab>

</mat-tab-group>