.tipo {
    margin: 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}
.documento {
    margin: 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}
.tienda {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
}
.domicilio {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
}
.active {
    margin: 5px;
    padding: 5px;
    border: 3px solid green;
}
