.izq {
  grid-area: izq;
}

.der {
  grid-area: der;
  padding: 10px;
}

.titulo {
  grid-area: titulo;
}

.detalle {
  grid-area: detalle;
}

.pago {
  padding: 30px;
  width: 100%;
  height: 100%;
  grid-area: pago;
  text-align: center;
  font-size: 20px;
}
.tabla {
  grid-area: tabla;
  margin-right: 10px;
  text-align: left;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "izq der";
}
.izq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulo titulo"
    "tabla tabla";
  border-right: 1px solid gray;
}

.titulo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "detalle pago";
}

td {
  padding: 5px;
  text-align: left;
}

tr:hover {
  background-color: rgb(173, 211, 173);
}

table {
  width: 100%;
}

@media only screen and (max-width: 1240px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "izq"
      "der";
  }
  button {
    transform: translate(-76px, 46px);
    width: 76px;
    height: 46px;
  }
}
