<div class="app-page">
    <div class="app-page__header">
        <h1>Demo2 Padre</h1>
    </div>
    <div class="app-page__content">
        <div class="navigation">
            <a class="app-a" routerLink="./controles" routerLinkActive="app-a_active">Controles</a>
            <a class="app-a" routerLink="./shared" routerLinkActive="app-a_active">Compartido</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>





<!-- <div class="app-page">
    <div class="app-page__header">
        <h1>Cuenta</h1>
    </div>

    <div class="menu-sup">
        <div class="izq">
            <span class="link-izq"><a routerLink="/clientes" routerLinkActive="active-link">Tareas</a></span>
                    
        </div>

        <div class="der">
           

            <ng-template #loggedIn>
                <span><a style="cursor: pointer;" (click)="authService.logout()">Cerrar sesión</a></span>
            </ng-template>
        </div>
    </div>

   
</div> -->