// colores base 

//estilos y fuentes por defecto de la pagina
$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#000000;

//color primario de mi compañia
$primary:#84ffff;
$primary-dark:#4bcbcc;
$primary-light:#baffff;
$on-primary:#ffffff;
//colores secudarios
$secondary:#ce93d8;
$secondary-dark:#9c64a6;
$secondary-light:#ffc4ff;
$on-secondary:#ffffff;

//mensajes de error:
$error:#b00020;
$on-error:#ffffff;

//exitoso
$success: #99aa00;
$on-success:#ffffff;


