// colores base 

//estilos y fuentes por defecto de la pagina
$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#000000;

//color primario de mi compañia
$primary:#5cb7a8;
$primary-dark:#268779;
$primary-light:#8fead9;
$on-primary:#ffffff;
//colores secudarios
$secondary:#303f9f;
$secondary-dark:#001970;
$secondary-light:#3366ff;
$on-secondary:#ffffff;

//mensajes de error:
$error:#b00020;
$on-error:#ffffff;

//exitoso
$success: #99aa00;
$on-success:#ffffff;


