<div products="products"> Productos</div>

<ul class="cards">

    <li class="cards__item" *ngFor="let product of products">
        <mat-card class="mat-class" *ngIf="product.estado !== 'inactivo'">

            <mat-card-header>
                <mat-card-title>{{product.nombre}}</mat-card-title>
                <mat-card-subtitle routerLink="/home">Categoria: <a>{{product.categoria}}</a></mat-card-subtitle>
            </mat-card-header>

            <div>
                <img mat-card-image src="{{product.imgURL}}" alt="{{product.nombre}}">
            </div>

            <mat-card-content>
                <div>
                    <div>Código: {{product.codigo}}</div>
                   
                </div>
                <p>Descripcion: {{product.descripcion}}
                </p>
            </mat-card-content>


            <div class="precio">Precio: $ {{product.precio}}.-</div>
           
            <mat-card-actions>
                <app-button mat-button routerLink="/producto/{{product.id}}">Ver</app-button>
                <app-button mat-button (click)="openDialog(product.id)">Añadir al carrito</app-button>
            </mat-card-actions>

        </mat-card>

    </li>

</ul>