<div class="container">

    <div class="imagen">
        <h2>Detalle del producto seleccionado</h2>
        <h3>{{product.nombre}}</h3>
        <img class="product" [src]="product.imgURL" alt="imagen">
    </div>

    <div class="tiendas">
        <h2>Precio</h2>
        <h2>${{product.precio | number}}.-(CLP)</h2>
        <div class="cantidad">
            <h2>Cantidad</h2>
            <h2>{{cantidad}}</h2>
            <div class="material-icons" (click)="suma()">add_circle</div>
            <div class="material-icons" (click)="resta()">remove_circle</div>
        </div>
    </div>

    <div class="pago">
        <h2>Pago</h2>
        <h3> {{product.nombre}}</h3>
        <h2> ${{total | number}}.-</h2>
       
        <span class="mat-class" *ngIf="product.estado !== 'agotado'; else agotado">
            <app-button mat-button (click)="openDialog(product.id)">Añadir al carrito</app-button>
        </span>
        <ng-template #agotado>
            <span>PRODUCTO AGOTADO</span>
        </ng-template>

    </div>

    <div class="descripcion">
        <h2>Descripción del Producto</h2>
        <p>{{product.descripcion}}</p>
    </div>


</div>