@import "styles/colors";

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  // background-image: url('/assets/images/playa.jpg');
  background-color: aliceblue;
  color: $secondary-dark;
}


mat-sidenav {
  width: 200px;
}

