<div class="app-page">
    <div class="app-page__header">
        <h1>Admin</h1>
    </div>
    <div class="app-page__content">
        Admin
        <div class="menu-sup">
            <div class="der">
                <span class="link-izq"><a routerLink="/clientes" routerLinkActive="active-link">Listado Clientes</a></span>
                <span class="link-izq"><a routerLink="/productos" routerLinkActive="active-link">Listado Productos</a></span>
            </div>
        </div>
    </div>

</div>