<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td [ngClass]="{collapsed:(expandedElement !== element), extended:(expandedElement === element)}" mat-cell
            *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>

        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                (click)="onClickOrden(element.ordenPedido)">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>

    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                [ngClass]="{collapsed:(expandedElement !== element), extended:(expandedElement === element)}">


                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                    </tr>
                    <tr *ngFor="let orden of ordenes">
                        <td>{{orden.producto}}</td>
                        <td>{{orden.precio | number}}</td>
                        <td>{{orden.cantidad}}</td>
                        <td>{{orden.total | number}}</td>
                    </tr>

                </table>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand">
    </tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
    </tr>

</table>