<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>

        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                (click)="onClickOrden(element.orden)">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>

    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [ngClass]="{collapsed:(expandedElement !== element)}">

                <div class="example-element-description">
                    prod {{element.producto}}
                </div>
                <div class="example-element-description">
                    precio {{element.precio}}
                </div>
                <div class="example-element-description">
                    cant {{element.cantidad}}
                </div>
                <div class="example-element-description">
                    subTotal {{element.subTotal}}
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand">
    </tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
    </tr>

</table>